.header {
    width: 100vw;
    background-color: rgb(16, 41, 41);
}

[data-theme="light"] .navbar {
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .navbar {
  background-color: #1a1a1a;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    transition: all .5s;
}

.itemNavbar {
  width: 68px;
  font-weight: 700;
}

.itemNavbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px; /* Ajusta la distancia del subrayado */
    width: 0;
    height: 2px; /* Grosor del subrayado */
    background: rgb(141, 124, 91);
    transition: width 0.4s cubic-bezier(0.4,0,0.2,1);
}

.itemNavbar:hover::after {
    width: 68px;
}

.cartIcon {
  cursor: pointer;
}

.cartContainer {
  display: flex;
  position: relative;
  gap: 1rem;
}

[data-theme="light"] .cartIcon {
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .cartIcon {
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.cartIcon {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

.cartCount {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #f00;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
}


.themeToggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

[data-theme="light"] .themeToggle {
  color: #333;
}

[data-theme="dark"] .themeToggle {
  color: #fff;
}

@media (max-width: 600px) {
  .navbar {
    padding: 12px 16px;
  }
}