.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 28px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 100%;
  max-width: 300px;
  min-width: 260px;
  max-height: 400px;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-4px);
}

.imagePlaceholder {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 12px;
  position: relative; 
  height: 200px;
}

.imagePlaceholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headLineContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.headline {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  margin-bottom: 8px;
}

.headline:hover,
.headline:focus {
  color: #0070f3;
  text-decoration: underline;
}

.category {
   font-size: 0.995rem;
  color: #272626;
  margin-bottom: 8px;
  display: -webkit-box;
  line-clamp: 3;    
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 8px;
  display: -webkit-box;
  line-clamp: 3;    
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 8px;
}

.rating {
  display: flex;
  width: 2.5rem;
  max-height: 2rem;
  font-size: 1rem;
  color: #f5a623;
  margin-bottom: 8px;
}

/* Media queries para responsividad */
@media (max-width: 600px) {
  .card {
    width: 100%;
    max-width: 350px;
  }

  .imagePlaceholder {
    height: 150px;
  }

  .headline {
    font-size: 1.125rem;
  }

  .description {
    font-size: 0.75rem;
  }

  .price {
    font-size: 1rem;
  }
}